*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.heading{
  margin-left: 46vw;
}

.body{
  height: 80vh;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options{

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

}

.options-btn{
  background-color: blanchedalmond;
  color: black;
  height: 50px;
  width: 140px;
  font-size: larger;
  margin-bottom: 40px;
  cursor: pointer;
}

.message-container {
  height:300px;
  width: 300px;
  border: 2px solid black;
}

.message-content{
  padding-left: 20px;
  padding-top: 20px;
}

.chat-footer{
  height: 50px;
  width: auto;
}

.chat-footer input{
  height: 29px;
  width:270px;
  border: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.send-btn{
  height: 40px;
  padding: 6px;
  margin-top: 10px;
  border: 2px solid black;
  cursor: pointer;

}